* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 20px; /* adiciona espaçamento */
    padding-right: 100px;
    padding-left: 100px;
}

div.conteudo {
    width: 100%; /* largura */
    display: flex;
    justify-content: space-between; /* adiciona espaço entre os itens */
    align-items: center; /* alinha  tudo ao centro */
}

div.caixa-texto {
    width: 700px;
    margin-top: -100px;
}

div.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end; /* joga item todo pro lado */
}

button > a {
    color: #ffffff;
    background-color: #017143;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

button > a:hover {
    color: #ffffff; /* cor do texto */
    background-color: #d752b1; /* cor de fundo */
}

button {
    border: none; /* borda */
    padding: 0px;
    border-radius: 0px;
}

h2 {
    font-size: 60px; /* muda tamanho do texto */
    font-weight: 600; /* muda a grossura do texto */
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900px;
}

img.logo {
    width: 80px;
}

img.copo-starbucks-grande {
    width: 340px;
    z-index: 1; /* define se o item está a frente ou atrás */
}

img.copo-starbucks-pequeno {
    width: 60px;
    margin-top: -70px;
}

div.caixa-menu {
    display: flex;
    justify-content: center; /* joga itens para o centro */
}


img.copo-starbucks-pequeno {
    width: 60px;
    cursor: pointer;
    transition: 1s;
    margin-right: 10px;
    margin-left: 10px;
}

.copo-starbucks-pequeno:hover {
    transform: translateY(-35px);
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 900px);
    z-index: -1;
}